<div class="welcome container-responsive">
<div class="filer-link">
<h1>SEC FILINGS FOR ANALYSTS</h1>
<h3 style="text-align: center"><%= link_to 'See List of All Filers', filers_path %></h3>
</div>
<div class="site-description">
	<p class='lead'>The Securities and Exchange Commission's mission is to protect investors, maintain fair, orderly and efficient markets, and facilitate capital formation. For the past few decades, however, they have continually failed to provide any effective online access to the public financial data necessary for making informed investment decisions. This has widened the gap between the every day investor and large firms by giving rise to expensive commercial services such as the Bloomberg Terminal for efficiently acquiring these data-sets. SEC-Filings-For-Analysts scrapes the SEC's database and compiles the filings into free, downloadable datasets without the need to read through lengthy individual documents just to get a usable financial report.
	<footer style="text-align:center">**This site is still in beta**</footer>
</p>
</div>
<img src="/images/financial_spreadsheet_header.jpg" alt="">
</div>
